body {
    width: 500px;
    margin: auto;
    padding: 20px;
}

.rolls img {
    width: 40px;
    margin: 0 2px;
};

.worksContainer {
    display: flex;
}

.citiesContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.citiesContainer div {
    margin: 0 10px;
    text-align: center;
}

.citiesContainer img {
    width: 40px; 
};
        
.works {
    margin: auto;
}

.works, .incomplete img {
    opacity: 0.85;
    cursor: pointer;
}

.works, .incomplete img:hover {
    opacity: 1;
}

.monumentsContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
};

.monumentsContainer div {
    flex: wrap;
}

.monumentsContainer img {
    width: 100px;
    height: 100px;
    /* width: 30%; */
    margin: 15px;
    margin-top: 5px;
    flex-wrap: wrap;
}